@font-face {
	src: url('../fonts/RubikBubbles-Regular.ttf');
	font-family: 'RubikBubbles Regular';

}

@font-face {
	src: url('../fonts/Lobster-Regular.ttf');
	font-family: 'Lobster Regular';
}

body {
	background-image: url('../images/retsept.jpg');
	background-size: 100%;
}
tr {
	text-align: left;
	width: 50%;
}

h1 {
	text-align: right;
	padding-top: 50px;
	color: white;
	font-family: "RubikBubbles Regular", sans-serif;

}
h5 {
	margin-left: 10px;
	text-align: right;
	width: 450px;
	color: white;
	font-family: "Lobster Regular", sans-serif;
}

a{
	color: white;
	font-family: "RubikDistressed Regular", sans-serif;
}
a:hover {
	background-color: #0a58ca;
}